h1 {
    font-size: 50px;
    font-style: italic;
    color:coral;
    opacity: 50%;
    margin: 40px;
}
.container {
    width:40%;
}
.card {
    width: 25rem;
    margin:auto;
    text-align: left;
    box-shadow:
      /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
      /* The second layer */
      0 10px 0 -5px #eee,
      /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
       /* The third layer */
      0 20px 0 -10px #eee,
      /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
      /* Padding for demo purposes */
}

.card-footer {
    font-size: 15px;
    opacity: 50%;
    display: flex;
    justify-content: space-between;
}

input {
    border:none ;
    outline:none;
    height: 40px;
    padding-left: 16px;
}
p {
    margin:none;
}
.futer {
    width:25rem;
}
.fuser {
    border-bottom: 1px solid
}